html,
body,
.root {
    height: 100%;
}

body {
    line-height: 1.5;
}

body,
.app {
    background: white;
}

/* main page */

.list-books-title {
    padding: 10px 0;
    background: #2e7d32;
    text-align: center;
}

.list-books-title h1 {
    font-weight: 400;
    margin: 0;
    color: white;
}

.list-books-content {
    padding: 0 0 80px;
    flex: 1;
}

.bookshelf {
    padding: 0 10px 20px;
}

@media (min-width: 600px) {
    .bookshelf {
        padding: 0 20px 40px;
    }
}

.bookshelf-title {
    border-bottom: 1px solid #dedede;
    font-weight:400;
    text-transform: uppercase;
    color: rgb(46, 125, 50);
}



.bookshelf-books {
    text-align: center;
}

.open-search {
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.open-search a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(46, 125, 50);
    background-image: url('./icons/add.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 0;
}

/* search page */

.search-books-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.search-books-input-wrapper {
    flex: 1;
    background: #e9e;
}

.search-books-bar input {
    width: 100%;
    padding: 15px 10px;
    font-size: 1.25em;
    border: none;
    outline: none;
}

.close-search {
    display: block;
    top: 20px;
    left: 15px;
    width: 50px;
    height: 53px;
    background: white;
    background-image: url('./icons/arrow-back.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    font-size: 0;
}

.search-books-results {
    padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.books-grid li {
    padding: 20px;
    text-align: center;
}

.book {
    width: 250px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16), 0 5px 10px rgba(0, 0, 0, 0.23);
    padding: 10px;
    border-radius: 5px;
}

.book-title,
.book-authors {
    font-size: 0.8em;
}

.book-title {
    margin-top: 10px;
    font-size: 16px;
}

.book-authors {
    padding-bottom: 7px;
}

.book-top {
    position: relative;
    display: flex;
    height: 290px;
    align-items: flex-end;
}

/* book cover */

.book-cover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #eee;
    width: 190px;
    height: 270px;
    margin: 10px 20px;
}

.book-cover-title {
    padding: 20px 10px 0;
    text-align: center;
    font-size: 0.8em;
}

/* book changer*/

.button-changer-wrapper{
    width: 250px;
    height: 370px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top:-370px;
    left: 0;
    float: left;
    z-index: 10;
    text-align: center;
    transition: opacity .5s;
    margin-bottom: -370px;
}

.button-changer{
    width: 170px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 5px;
    border: 0;
    background-color: white;
    color: rgb(96, 172, 93);
}

.button-changer:hover{
    width: 176px;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(29, 78, 32);
    color: white;
    transition: .2s;
}

.shelf-active{
    border: 0;
    background-color: rgb(46, 125, 50);
    color: white;
}

.shelf-active:hover{
    background-color: white;
    color: rgb(96, 172, 93);
    transition: .2s;
}

.book-shelf-changer {
    position: relative;
    bottom: 40px;
    left: 210px;
    margin-bottom: -60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(46, 125, 50);
    background-image: url('./icons/3-dots-v.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 20;
}

.book-shelf-changer-wrap {
    height: 0;
}

.book-shelf-changer-wrap select {
    display: none;
}